.container{
    height:40em; background-size:cover; width:auto;
    background-image:url('https://media.gettyimages.com/photos/desk-office-at-home-picture-id1194800532?k=20&m=1194800532&s=612x612&w=0&h=rai-q8tyXGFV_qi3lwVC0Nvz_XIRjj6v6pD4cn9gkL0=');
    background-position:50% 50%;
    margin-top: -8px;
max-width: 100%;

}